{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Профайл пользователя {{ author.get_full_name }}{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="mb-5">
    <h1>Все посты пользователя {{ author.get_full_name }}</h1>
    <div class="row">
      <div class="col-sm">
        <h5>
          Всего постов: 
          <span class="badge bg-secondary">{{ author.posts.count }}</span>
        </h5>
      </div>
      <div class="col-sm">
        <h5>
          Подписчиков:
            <span class="badge bg-secondary">{{ author.following.count }}</span>
        </h5>
      </div>
      <div class="col-sm">
        <h5>
          Подписок:
            <span class="badge bg-secondary">{{ author.follower.count }}</span>
        </h5>
      </div>
    </div>
    {% if author != request.user and request.user.is_authenticated %}
      {% if following %}
      <a class="btn btn-lg btn-light" href="{% url 'posts:profile_unfollow' author.username %}" role="button">
        Отписаться
      </a>
      {% else %}
        <a class="btn btn-lg btn-primary" href="{% url 'posts:profile_follow' author.username %}" role="button">
          Подписаться
        </a>
      {% endif %}
    {% endif %}
  </div>
  {% for post in page_obj %}
  {% include 'posts/includes/post_card.html' with group_link=True %}
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
</div>
{% endblock %}
